.hotelsearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.MuiButton-containedPrimary.MuiButton-root.MuiButton-contained.hotelsearch_btn {
    background-color: #F2A68D;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
}

.MuiButton-containedPrimary.MuiButton-root.MuiButton-contained.hotelsearch_btn:hover {
    transform: translateX(10px);
    background-color: #e07055;
    box-shadow: #1b1c1d;
    transition: .2s linear transform, .2s linear background-color;
}
