.promo {
    height: 80vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promo_title {
    font-family: 'Karla', serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 40px;
    margin: 150px 0;
}

.promo_title-emph {
    position: relative;
    z-index: 1;
}

.promo_title-emph:before {
    content: " ";
    width: 100%;
    z-index: 0;
    opacity: .5;
    height: 8px;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    background-color: #D2AE90;
}
