.profile {
    height: 120vh;
    width: 100%;
    background:#fffefe;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: #201e20;
  }
  .profile_div {
    
    width: 100%;
    background: #FFFEFE;
    border-color: #201e20;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 10px;
  }
  
