@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap');

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    min-height: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
